/* --- CABEÇALHO GLOBAL --- */
.cabecalho {
    background-color: #ffffff;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    align-items: center;
    
    /* 🌟 A MÁGICA DO ESPAÇAMENTO AQUI */
    /* Empurra a logo para a frente e cria o espaço atrás alinhando com um limite de 1200px */
    padding: 15px max(50px, calc((100% - 1200px) / 2)); 
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    position: relative;
    z-index: 10;
    box-sizing: border-box; 
    width: 100%; 
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #1e90ff;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s;
}

.menu a:hover {
    color: #1e90ff;
}

.menu a.destaque {
    color: #1e90ff;
    font-weight: bold;
}